<% var title='トップページ' ; %>
<% var description='トップページのディスクリプション' ; %>
<% var path='' ; %>
<% var metaf={title,description,path} %>
<%- include("common/_header",{meta:metaf}) %>
<main id="main" class="home">

</main>
<%- include("common/_footer",{meta:metaf}) %>